requests
Django==2.0.1
djangorestframework==3.7.7
psycopg2==2.7.3.2
pytz==2017.3
Django==2.0.1
djangorestframework==3.7.7
psycopg2==2.7.3.2
pytz==2017.3
termcolor==1.1.0
Django==2.0.1
djangorestframework==3.7.7
gunicorn==19.7.1
psycopg2==2.7.3.2
pytz==2017.3
simplejson==3.13.2
termcolor==1.1.0
uWSGI==2.0.15
uwsgitop==0.10
certifi==2018.1.18
chardet==3.0.4
dj-database-url==0.5.0
Django==2.0.1
django-heroku==0.3.1
djangorestframework==3.7.7
gunicorn==19.7.1
idna==2.6
psycopg2==2.7.3.2
pytz==2017.3
simplejson==3.13.2
termcolor==1.1.0
urllib3==1.22
uWSGI==2.0.15
uwsgitop==0.10
whitenoise==3.3.1
certifi==2018.1.18
chardet==3.0.4
dj-database-url==0.5.0
Django==2.0.1
django-heroku==0.3.1
djangorestframework==3.7.7
gunicorn==19.7.1
idna==2.6
psycopg2==2.7.3.2
python-crontab==2.2.8
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
simplejson==3.13.2
six==1.11.0
termcolor==1.1.0
urllib3==1.22
uWSGI==2.0.15
uwsgitop==0.10
whitenoise==3.3.1
